---
layout: page
title: "About"
description: "Hey, this is 虞正皓."
header-img: "img/post-bg-desk.jpg"
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> 

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>冰冻三尺 非一日之寒<br>
    积土成山 非斯须之作</p></blockquote>

    <h3>个人信息</h3>

<p>真实姓名：虞正皓</p>

<p>QQ：2480907320</p>

<p>微信：yuzhenghao0707</p>

<p>邮箱：2480907320@qq.com 或 haoge677@163.com</p>

<p>洛谷：<a href="https://www.luogu.com.cn/user/233809">https://www.luogu.com.cn/user/233809</a></p>

<p>学校：重庆八中宏帆初级中学校</p>

<h3>个人介绍</h3>

<ul><li><p>前OIer</p><ul><li>2019 CSP-J 二等奖</li></ul></li><li><p>“虞正皓的Blog”网站站长</p></li></ul>

<h3>网站须知</h3>

    <p>除特殊说明外，本项目使用<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.zh"> 知识共享署名-相同方式共享 4.0 国际许可协议</a>

    <p>换言之，您可以自由的共享并演绎该项目，但是必须给出必要的署名，并以相同方式共享本项目。</a>
</div>

<!-- English Version -->
<div class="en post-container">

   <blockquote><p>Rome wasn't built in a day<br>
    It's a work of building up a mountain</p></blockquote>

   <h3>Personal information</h3>

<p>Real name：YuZhenghao</p>

<p>QQ：2480907320</p>

<p>Wechat：yuzhenghao0707</p>

<p>Email：2480907320@qq.com or haoge677@163.com</p>

<p>Luogu Online Judge：<a href="https://www.luogu.com.cn/user/233809">https://www.luogu.com.cn/user/233809</a></p>

<p>School：Hongfan Middle School Attached to Chongqing NO.8 Secondary School</p>

<h3>Personal introduction</h3>

<ul><li><p>Retired CNOIer</p><ul><li>2019 Certified Software Professional-Junior Second award</li></ul></li><li><p>The webmaster of “Yu Zhenghao&#39;s blog”</p></li></ul>
    
<h3>Website notes</h3>
    
   <p>Except for special instructions, this project uses<a href="https://creativecommons.org/licenses/by-sa/4.0/"> Knowledge sharing Attribution - sharing 4.0 international license agreement in the same way</a>

    <p>In other words, you are free to share and deduce the project, but you must give the necessary signature and share the project in the same way.</a>

</div> 

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

